.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  align-content: center;
  gap: 0.75rem;
  padding: 1.25rem 0 0;
  background: var(--bg);
}

.nav h2 {
  margin: -0.25rem 0 0;
  padding: 0;
  min-width: 12rem;
  max-height: 2rem;
  line-height: 2rem;
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: -0.05rem;
}

.nav .month {
  font-size: 3rem;
  letter-spacing: -0.1rem;
}

.nav p {
  grid-column: 1 / -1;
  text-align: center;
  margin: 0;
  padding: 0.6rem 0;
  border-radius: 4px 4px 0 0;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-variant-numeric: tabular-nums;
  font-weight: bold;
  cursor: help;
}

.prev {
  width: 100%;
  padding: .5rem;
  font-weight: bold;
  border: 1px solid var(--border);
  border-radius: 16px 4px 4px 4px;
  text-align: left;
  padding-left: 1rem;
}

.next {
  composes: prev;
  border-radius: 4px 16px 4px 4px;
  text-align: right;
  padding-right: 1rem;
}

button:disabled {
  color: var(--muted);
  opacity: 0.4;
  cursor: default;
  filter: none;
}
